@model CategoryListModel

<div class="alert alert-primary text-dark" role="alert">
        Active category is <strong>@Model.Name</strong>... <a asp-action="Index" class="float-right">Remove Filter</a>
</div>