@model CategoryAddModel
<form method="post" asp-action="Create" class="p-3" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-info">Add Category</button>
    </div>
</form>